@reference "../../globals.css";

/* info.css */
/* this applies to all the info pages */

/* grid styling */
.grid_wrapper {
  @apply flex-col items-center gap-6 lg:gap-10 
  mt-6 md:mt-8 lg:mt-10;
}
.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_two {
  width: 67%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_one {
  width: 33%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @apply gap-6 lg:gap-10;
}
/* mobile grid styling */
.grid_container_mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_mobile {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.cover_text {
  /* font-size: clamp(1.1rem, 1.3vw, 2rem); */
  @apply text-[#FFFDFD] text-center break-words leading-none
   text-base sm:text-xl md:text-base lg:text-lg xl:text-2xl;
}
