/* info.css */
/* this applies to all the info pages */

/* outside section styling */
section {
  @apply flex flex-col items-center;
  /* pt-5
    pb-[100px] md:pb-[125px] lg:pb-[150px]
    px-[20px] md:px-[60px] lg:px-[75px]; */
}
.detail_section {
  @apply gap-24 sm:gap-32 md:gap-40 lg:gap-48;
}

/* intro, description */
.intro_and_desc {
  @apply flex flex-col items-center 
  gap-6 md:gap-8 lg:gap-10  
    mt-8 md:mt-10 lg:mt-12
    mb-4 md:mb-6 lg:mb-8;
}

/* inside section mapping container */
.section_list {
  @apply w-full flex flex-col gap-16 sm:gap-20 md:gap-32 mt-6 md:mt-12;
}
.section_list_item {
  @apply flex flex-col;
}

/* grid styling */
.grid_wrapper {
  @apply flex-col items-center gap-6 lg:gap-10 
  mt-6 md:mt-8 lg:mt-10;
}
.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_two {
  width: 67%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_one {
  width: 33%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @apply gap-6 lg:gap-10;
}
/* mobile grid styling */
.grid_container_mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  @apply gap-6 lg:gap-10;
}
.grid_auto_container_mobile {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.cover_text {
  /* font-size: clamp(1.1rem, 1.3vw, 2rem); */
  @apply text-[#FFFDFD] text-center break-words leading-none
   text-base sm:text-xl md:text-base lg:text-lg xl:text-2xl;
}
