@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.simple_button {
  @apply bg-slate-100 flex items-center justify-center text-black py-2 px-4 rounded;
}
.simple_button:hover {
  @apply bg-slate-200 flex items-center justify-center text-black py-2 px-4 rounded;
}

.blue_button {
  @apply flex items-center justify-center px-4 py-2 bg-[#00274c] border border-[#00274c] text-[#ffcb05] rounded-md cursor-pointer;
}
.blue_button:hover {
  @apply flex items-center justify-center px-4 py-2 font-bold bg-[#00274c] border border-[#ffcb05] text-[#ffcb05] rounded-md cursor-pointer;
}
